$yellow: #fad045;
$yellow-in-basket: #ffad33;
$yellow-scrollbar: #ff9900;
$yellow-card: #ff9900;
$yellow-text: #6b581a;
$yellow-sidebar: #fff8e2;
$white: #ffffff;
$grey-button: #757575;
$grey-border: #999999;
$body-background: #ececec;
$description: #3585aa;
$price: #aa3535;
$modal-buttons: #cf4040;
$modal-items: #fa6045;
$prev-next-buttons: #e6583f;
